.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

header, .head {
  background-color: #61dafb;
  width: 100%;
  height: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center
}

.head{
  background-color: green;
  max-width: 1000px;
  justify-content: space-between
}
.head >div {
  margin-left: 30px;
}

.head >ul {
  margin-right: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.head li{
  margin:0 10px;
  list-style-type: none;
}

.routeParent{
width: 100%;
display: flex;
align-items: center;
justify-content: center;
height: calc(100vh - 75px);
position: relative;
background-color: darkorange;

}
.homeParent{
  position: relative;
  width: 100%;
  max-width: 1000px;
  height: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  background-color: blue;
}
.gameParent {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.chatContent {
  height: 100%;
  width: 45%;
  background-color: red;
  position: relative;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}
.chatWindow {
  width: 100%;
  height: 90%;
}
.chatInput {
  width:100%;
  height:10%;
}

.gameContent {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 45%;
  height: 100%;
  background-color: rgb(63, 219, 63);
}

.gameInfoContainer{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.cardImage{
  position: relative;
  width:100%;
  max-width: 226px;
}


