$phoneMedia: 415px;
.App {
  width: 100vw;
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Press Start 2P', cursive;
}



header, .head {
  width: 100%;
  height: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center
}

.navLink{
  text-decoration: none;
}
.head{
  display: flex;
  background-color: black;
  max-width: 1000px;
  justify-content: space-between;
  align-items: center;
  
  .headerImage {
    margin-left: 30px;
    @media(max-width: $phoneMedia){
      // display: none;
      margin-left: 10px;
    }
    img{
      max-height: 75px;
    }

  }
  ul {
    height: 100%;
    width: 50%;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    @media(max-width:$phoneMedia){
      width: 80%;
      
    }
    li{
      margin:0 5px;
      list-style-type: none;
      width: 33%;

      button {
        height: 30px;
        width: 100%;
        font-size: 12px;

        @media (max-width: $phoneMedia){
          height: 50px;
          font-size: 3vw;
        }
      }
    }
  }
}

.routeParent{
max-width: 1000px;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
height: calc(100% - 75px);

  .gameParent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .profileParent{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .userMobile {
      display: none;
      @media (max-width: $phoneMedia){
        display: flex;
        flex-direction: column;
        height: 15%;
        .mobileHello{
          font-size: 3vh;
          font-weight: bold;
          margin: 10px;
        }
        .mobileEmail{
          font-size: 2vh;
        }
      }
    }
    .imageContainer{
      width: 100%;
      height: 75%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      
      
      @media (max-width: $phoneMedia){
      flex-direction: column;
      }

      .image{
        
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 35%;
        @media(max-width:$phoneMedia){
          border: solid black 5px;
          background-color: white;
          width: 95%;
          height: 35%;
          max-width: 600px;
          justify-content: space-evenly;
        }

        .asshole {
          display: flex;
          align-items: left;
          justify-content: center;
          width: 100%;
          height: 50%;
          
          @media (max-width: $phoneMedia){
            width: 30%;
            height: 100%;
            align-items: center;
          }

          img{
            height: 90%;
            max-width: 100%;
            @media (max-width: $phoneMedia){
              height: 80%;
            }
          }
        }
        .statsMobile {
          display: none;
          @media (max-width: $phoneMedia){
            font-size: 4.5vw;
            // background-color: aqua;
            
            width: 55%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
        }

      }
    }
    .profileContainer{
      height: 100%;
      width: 60%;
      max-width: 600px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: black;
      color: white;

      
      
      
      @media(max-width:$phoneMedia){
        height: 50%
      }

      .profile{
        // background-color: aqua;
        
        font-size: 3.0vh;
        width: 90%;
        height:50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        .profileGreet{
          height: 50%;
          font-size: 16px;
        }
        .profileHello{
          margin: 10px;
          font-size: 3vw;
          @media (min-width: 1000px){
            font-size: 30px;
          }
          
        }
        
        
        
        .stats{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          height: 40%;
          width: 100%;
          background-color: white;
          color: black;
          margin: 0;
          border-left: solid black 10px;
          border-right: solid black 10px;
          border-top: solid black 10px;

          div{
            height:33%;
            width: 75%;
            font-size: 24px;
          }
        }
        @media (max-width: $phoneMedia){
          display: none;
        }
        
      }

      .chartDiv{
        height: 50%;
        width: 90%;
        background-color: white;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        border-left: solid black 10px;
        border-right: solid black 10px;
        border-bottom: solid black 10px;
        margin-bottom: 10px;
        @media (max-width: $phoneMedia){
          border-left: solid black 5px;
          border-right: solid black 5px;
          border-bottom: solid black 5px;
          border-top: solid black 5px;
          margin-bottom: 0;
          width: 100%;
        }


        .winPercentage {
          color: black;
          font-size: 2.2vh;
          display: flex;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          @media (max-width: $phoneMedia){
            font-size: 2vh
          }

        }
        .chart{
          background-color: yellow;
          width: 50%;
          height: 50%;
          display: flex;
          position: relative;
          align-items: center;
          justify-content: center;
          z-index: 3;
        }
        @media (max-width: $phoneMedia){
          height: 100%;
        }
      }
    }
    .profileButtons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 75%;
      height: 45px;

      div {
        width: 75%;
        display: flex;
        // justify-content: center;
        // align-items: center;
        flex-direction: row;
        height: 100%;

        a{
          width: 75%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;


          button {
            display: flex;
            width: 75%;
            height: 100%;
            justify-content: center;
            align-items: center;
            @media(max-width: $phoneMedia){
              font-size: 10px;
            }
          }
        }
      }
      .profileButtonsOne{
        // height: 100px;
        justify-content: right;
        align-items: right;
      }
      .profileButtonsTwo{
        justify-content: left;
        align-items: left;
      }
      @media (max-width: $phoneMedia){
        flex-direction: column;
        height: 120px;
        div{
          display: flex;
          width: 100%;
          height: 100%;
          margin: 5px;
          justify-content: center;
          div{
            width: 46%;

          }
        }
      }
    
    }
  
  }

  .editParent{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    @media (max-width: $phoneMedia){
      width: 100vw;
      display: flex;
      flex-direction: column;
    }
    div {
      width: 45%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 10;

      
      
    }
    .infoEdit{
      width: 50%;
      height: 50%;
      
      .userEditDiv{
        background-color: black;
        color: white;
        width: 90%;
        // margin: 5px;
        height: 15%;
        font-weight: bold;
        input{
          width:80%;
          margin-bottom: 5px;
        }
      }
      .editButtons{
        display:flex;
        flex-direction: row;
        width: 80%;
        height: 20%;
        margin: 10px;

        .editNav{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50%;
          height: 100%;
          text-decoration: none;

          button{
            height: 40px;
            width: 120px;
            font-weight: bold;
            @media(max-width: $phoneMedia){
              width: 100px;
            }
          }

        }
        

      }
      .colorContainer{
        display: flex;
        flex-direction: column;
        height: 20%;
        width: 100%;
        font-weight: bold;
        font-size: 24px;
        .colorTitle{
          // margin: 0 0 8px 0;
          height: 50%;
          width: 100%;

        }
        .colorBox{
          display: flex;
          flex-direction: row;
          height: 50%;
          width: 50%;
          div{
            border: solid black 2px;
            height: 25px;
            width: 25px;
            margin: 5px;
          }
        }

        @media(max-width: $phoneMedia){
          font-size: 14px;
        }
      }
      @media(max-width: $phoneMedia){
        height: 70%;
        width: 80%;
      }
    }

    .imageContainer{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 50%;
      height: 50%;
      background-color: black;
        color: white;
        input{
          height: 24px;
        }
        button {
          height: 24px;
        }
      .uploadContainer{
        width: 70%;
        height: 15%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        @media (max-width: $phoneMedia){
          height: 80%;
          width: 40%;
          font-size: 14px;
          button {
            font-size: 10px;
          }
        }
        div{
          width: 80%;
          height: 30%;
        }
      }
      img{
        width: 80%;
        max-width: 300px;
      }
      @media(max-width: $phoneMedia){
        
        height: 25%;
        width: 80%;
        flex-direction: row;
        justify-content: space-around;
        img{
          height: 90%;
          width: 40%;

        }
      }
      
    }

   
  }
  .logParent {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    .logHead {
      height: 10%;
      width: 100%;
    }
    .logInfoContainer {
      height: 60%;
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: black;
      color: white;
      @media(max-width:$phoneMedia){
        height: 80%;
      }
      
      h1 {
        width: 90%;
        height: 10%;
        font-size: 2.5vw;
        margin: 5px;
        @media(max-width: $phoneMedia){
          font-size: 16px;
        }
        @media(min-width: 1000px){
          font-size: 24px
        }
      }

      .logInfo {
        height: 75%;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: white;
        color: black;
        font-size: 14px;
        margin: 10px;
        @media (max-width:$phoneMedia){
          font-size: 10px;
        }

       
        ul {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 80%;
          height: 15%;
          background-color: white;
          margin: 0;
          @media (max-width: $phoneMedia){
            padding: 0;
          }
          li{
            text-align: left;
            margin: 10px 0 0 0 ;
            list-style-type: square;
          }

        }
        .loginPic{
          background-color: white;
          width: 80%;
          height: 60%;
          img {
            height: 100%;
            // width: auto;
            max-width: 100%;
            @media( max-width: $phoneMedia){
              max-width: 100%;
              height: auto;
            }

          }
        }
      } 
    }
    .logButton{
      height: 10%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      button{
        height: 50px;
        width: 100px;
        font-size: 20px;
        @media (max-width: $phoneMedia){
          font-size: 12px;
          height: 80%;
          width: 75px;
        }
      }
    }
  }
  .homeParent{
    position: relative;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    height: 100%;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    // background-color: $mainColor;
    .homeWelcome{
      width: 90%;
      height: 30%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      h1{
        width: 90%;
        margin: 10px 0 0 0 ;
        font-size: 4.5vh;
        @media(max-width: $phoneMedia){
          font-size: 3.5vh;
        }
      }
      p{
        font-size: 2vh;
      }
    }
    .rules {
      padding: 5px;
      font-size: 20px;
      width: 90%;
      height: 55%;
      background-color: black;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      ul {
        text-align: left;
        overflow: auto;
        font-size: 2vh;
        padding: 10px;
        width: 90%;
        height: 80%;
        background-color: white;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @media (max-width: $phoneMedia){
          font-size: 1.5vh;
        }
        li{
        margin: 5px 0 0 0;
        width: 90%;
        text-align: left;
        list-style-type: square;
        }
        
      }
    }
      
    .homeButtons{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      width: 60%;
      height: 15%;

    .homeLinks{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30%;
      height: 100%;
      text-decoration: none;
      

      @media(max-width: $phoneMedia){
        width: 50%;
      }


      button{
        height: 50px;
        width: 100px;
        font-size: 12px;

        @media(max-width: $phoneMedia){
          font-size: 10px;
      }
      }
    }
    }
  }
}

.chatContent {
  height: 100%;
  width: 45%;
  position: relative;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  .chatWindow {
    margin: 10px 0;
    background-color: white;
    overflow: auto ;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    @media(max-width:$phoneMedia){
      height: 75%;
    }
    
    .chatMessage{
      flex-direction: column;
      justify-content: space-around;
      font-size: 14px;
      @media (max-width: $phoneMedia) {
        flex-direction: column;
        font-size: 8px;
      }


      .chatUser{
        font-weight: bold;
        text-align: left;
        width: 95%;
        margin: 2px 0 3px 2px;
      }

      .chatText{
        justify-content: left;
        text-align: left;
        padding-left: 10px;
        margin-bottom: 12px;
        width: 90%;
        overflow-wrap: break-word;
        @media (max-width:$phoneMedia){
          padding-left: 4px;
          margin-bottom: 7px;
        }
      }
    }

  }
  .chatInput {
    width:100%;
    height:10%;
    display: flex;
    justify-content: center;
    align-items: center;
    input{
      width: 75%;
      height: 24px;
      margin: 0 10px 0 0;
    }
    .chatButtons{
      
      display: flex;
      justify-content: center;
      align-items: center;
      button{
        margin: 5px;
        height: 26px;
      }
      @media (max-width: $phoneMedia){
        width: 100%;
        button{
          width: 50%;
          font-size: 8px;}
      }
    }

    @media(max-width: $phoneMedia){
      flex-direction: column;
      input{
        width: 100%;
        margin: 0;
      }
    }
  }
}


.gameContent {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 45%;
  height: 100%;
}

.gameInfoContainer{
  height: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-weight: bold;
  font-size: 24px;

  
  .timerContainer{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    @media(max-width: $phoneMedia){
      font-size: 12px;
      width: 60%;
    }
    
    .timer{
      display: flex;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
    }
    .chartTimer{
      background-color: yellow;
      width: 50%;
      height: 50%;
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      z-index: 3;
    }

    
  }
  .bankContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:30%;
  }
  @media( max-width: $phoneMedia){
    height: 20%;
    font-size: 10px;

  }
}

  .cardImageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width:100%;
    margin-top: 5px;
    img{
      width: 100%;
      max-width: 275px;
      max-height: 100%;
      
    }
    @media(max-width: $phoneMedia){
      height: 40%;
    }
  }

.betContainer{
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;

  .bet{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 20%;
    flex-direction: column;
    font-size: 20px;
    font-weight: bold;

    @media(max-width:$phoneMedia){
      height: 30%;
      font-size: 10px;
      div{
        margin: 0 0 3px 0;
      }
    }
    .betInput{
      width: 100%;
      max-width: 200px;
      height: 20px;
      text-align: center;
    }
    @media(max-width: $phoneMedia){
      height: 10%;
    }
  }
  .betButtonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 55%;
    width: 100%;
    .betButtons{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      height: 50%;
      width: 60%;
      button{ 
        width: 45%;
        max-width: 150px;
        height: 35px;
      }
    }
    @media(max-width: $phoneMedia){
      
      height: 60%;
      .betButtons{
        width: 90%;
        button{
        height: 35px;

          font-size: 8px;
        }  
      }
    }
    
  }
  @media(max-width: $phoneMedia){
    height: 30%;
  }
}

.deleteContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;

  .deleteButtons{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .deleteButts{
      justify-content: center;
      align-items: center;
      display: flex;
      width: 100%;
      height: 100%;
      text-decoration: none;


      button{
        width: 50%;
        height: 70%;
        @media(max-width: $phoneMedia){
          width: 70%;
          font-size: 12px;
          
        }
      }
    }
  }
}

.purchaseContainer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 80%;
  height: 60%;
  @media(max-width: $phoneMedia){
    height: 80%;
  }

  .purchaseMessage{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40%;
    @media(max-width: $phoneMedia){
      height:50%;
    }

    h1{
      margin: 10px;
      font-size: 20px;
      height: 45%;
      width: 100%;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: $phoneMedia){
        font-size: 16px;
      }
    }
    p{
      margin: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90%;
      height: 55%;
      background-color: white;
      color: black;
    }

  }

  .creditInput {
    margin: 5px;
    height: 40px;
    font-size: 24px;
    font-weight: bold;
    @media(max-width: $phoneMedia){
      font-size: 16px;
    }
    select{
      height: 80%;
      width: 100%;
      text-align: center;
    }
  }

  .creditButtons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20%;
    width: 20%;
    @media(max-width: $phoneMedia){
      width: 60%;
    }
    // div{
    //   width: 40%;
    //   height: 100%;
    // }
    .stripeButton{
      display: none;
    width: 100%;
    height: 200%;
    }
    .creditCancel{
      height: 40px;
      width: 100%;
      button{
        height: 100%;
        width: 100%;
      }
    }
  }
  
}

button{
  font-family: 'Press Start 2P', cursive;
  
}

.birds{
  position: fixed;
  border: 10px black solid;
}

.creditButtons > button > span{
  font-family: 'Press Start 2P', cursive;
  // display: none;
}

.stripeButton{
  display: none;
width: 100%;
height: 200%;
}